/* Set a style for all buttons */
button.submit {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width:100%;
    display: block;
    margin: 0 auto;
}

button.icon_btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    /* padding: 12px 16px;
    font-size: 16px; */
    cursor: pointer;
}

button.icon_btng {
    background-color: rgb(30, 255, 56);
    border: none;
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    /* padding: 12px 16px;
    font-size: 16px; */
    cursor: pointer;
}

button.icon_btn:hover {
    background-color: RoyalBlue;
}

img.icon-img {
    background-color: none;
    border: none;
    color: white;
    font-size: 12px;
    padding: 3px 5px;
    width: 20px;
    height: 20px;
    /* padding: 12px 16px;
    font-size: 16px; */
}