<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if current_user.is_authenticated %}
        {{ user.username }}'s 中传云盘
        {% else %}
        中传放心传
        {% endif %}
    </title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {#
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/font-awesome.min.css') }}">
    {% block head %}
    
    {% endblock %}

    {{ dropzone.load_css() }}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="Cloud Drive Logo" class="cloud_drive_logo" src="{{ url_for('static', filename='images/cloud_drive_logo.png') }}">
        {% if current_user.is_authenticated %}
            {{ user.username }}'s 中传云盘
        {% else %}
            中传放心传
        {% endif %}
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2023 <a href="https://github.com/Mr-Nobodyl/ac-web">中传放心传</a></small>
	</footer>
    {{ dropzone.load_js() }}
</body>
</html>
