{% extends 'base.html' %}

{% block head %}
{% if current_user.is_authenticated %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/overview.css') }}" type="text/css">
{% endif %}
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
    {{ dropzone.create(action='uploads') }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 3% 2% 2% 2%; min-height: 100px;') }}
    {{ dropzone.config() }}
    <button class="submit" onClick="window.location.reload();">Submit</button>

<p>{{ user_cloud_files|length }} Files</p>
<ul class="cloud_file-list">
    {% for cloud_file in user_cloud_files %}
        {% include 'elements/cloud_file_list_li.html' %}
    {% endfor %}
</ul>
{% else %}
<p>{{ user_cloud_files|length }} Files</p>
<ul class="cloud_file-list">
    {% for cloud_file in user_cloud_files %}
        {% include 'elements/cloud_file_list_li.html' %}
    {% endfor %}
</ul>

{% endif %}
<img alt="Cloud loading" class="cloud_loading" src="{{ url_for('static', filename='images/cloud_load.gif') }}" file_name="中传放心传">
{% endblock %}
