{% extends 'base.html' %}

{% block head %}
{% if current_user.is_authenticated %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" type="text/css">
{% else %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/overview.css') }}" type="text/css">
{% endif %}
{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
    {{ dropzone.create(action='uploads') }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 3% 2% 2% 2%; min-height: 100px;') }}
    {{ dropzone.config() }}
    <button onClick="window.location.reload();">Submit</button>

<p>{{ cloud_files|length }} Files</p>
<ul class="cloud_file-list">
    {% for cloud_file in cloud_files %}
    <li>{{ cloud_file.file_name }} - <span class="file_size_str"> {{ cloud_file.get_size_str() }} </span>
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('download_content', cloud_file_id=cloud_file.id) }}">Download</a>
            <a class="btn" href="{{ url_for('edit', cloud_file_id=cloud_file.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{ url_for('delete', cloud_file_id=cloud_file.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            {% endif %}
            <a class="imdb" href="https://www.imdb.com/find?q={{ cloud_file.file_name }}" target="_blank" file_name="Find this cloud_file on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
{% else %}

{#
<div class="jumbotron">
    <h1 class="display-4">Welcome to 中传放心传!</h1>
    <p class="lead">ACWeb is a cloud storage service that allows users to upload and download files.</p>
    
    <hr class="my-4">
    <p>ACWeb is a project for the course <a href="http://www.cs.hku.hk/programme/course_info.jsp?infile=2019/comp3322.html" target="_blank">COMP3322</a> at the University of Hong Kong.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
    </p>
    
</div>
#}

<form action="/login" method="post">
    <div class="container">
        <h1>Welcome to 中传放心传!</h1>

        <hr class="introduction">
            <p class="introduction">AC-Web is a cloud storage service that allows users to upload and download files.</p>

        <p>Don't have an account? <a href="/register">Register</a>.
        </p>
        <hr>
        {#
        <div class="imgcontainer">
            <img src="img_avatar2.png" alt="Avatar" class="avatar">
        </div>
        #}

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn" onclick="window.location.href='/'">Cancel</button>
            <span class="psw">Forgot <a href="#" onclick="return confirm('未完成\n(⋟﹏⋞)')">password?</a></span>
        </div>
    </div>
</form>

{% endif %}
<img alt="Cloud loading" class="cloud_loading" src="{{ url_for('static', filename='images/cloud_load.gif') }}" file_name="中传放心传">
{% endblock %}
