{% extends 'base.html' %}

{% block content %}
<p>{{ cloud_files|length }} Titles</p>
{% if current_user.is_authenticated %}
    {{ dropzone.create(action='uploads') }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 2%; min-height: 100px;') }}
    {{ dropzone.config() }}
{% endif %}
<ul class="cloud_file-list">
    {% for cloud_file in cloud_files %}
    <li>{{ cloud_file.file_name }} - {{ cloud_file.year }}
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('edit', cloud_file_id=cloud_file.id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{ url_for('delete', cloud_file_id=cloud_file.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            {% endif %}
            <a class="imdb" href="https://www.imdb.com/find?q={{ cloud_file.file_name }}" target="_blank" file_name="Find this cloud_file on IMDb">IMDb</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="Cloud loading" class="cloud_loading" src="{{ url_for('static', filename='images/cloud_load.gif') }}" file_name="中传放心传">
{% endblock %}
