{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/share.css') }}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="share_title">Share</h1>

    <ul class="cloud_file-list">
    <li>{{ cloud_file.file_name }} <span class="file_size_str"> {{ cloud_file.get_size_str() }}</span>
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <button class="icon_btn"
                onclick="if(confirm('Are you sure? \nIt will be permanently deleted!')){window.location.href='{{ url_for('delete', cloud_file_id=cloud_file.id) }}'}"
                title="Delete"><i class="fa fa-trash"></i></button>
            <button class="icon_btn"
                onclick="window.location.href='{{ url_for('download_content', cloud_file_id=cloud_file.id) }}'" download><i
                    class="fa fa-download" title="Download"></i></button>
            <button class="icon_btn" onclick="window.location.href='{{ url_for('share', cloud_file_id=cloud_file.id) }}'"><i
                    class="fa fa-share" title="Share"></i></button>
            <button class="icon_btn" onclick="window.location.href='{{ url_for('edit', cloud_file_id=cloud_file.id) }}'"><i
                    class="fa fa-edit" title="Edit file name"></i></button>
            <button class="icon_btn"
                onclick="return alert('Upload time: {{ cloud_file.get_beijing_time() }}\nFile size: {{cloud_file.get_size_str()}}')"><i
                    class="fa fa-info" title="Edit file name"></i></button>
            {% endif %}
        </span>
    </li>
    </ul>

    <hr>
    <form action="/share">
        <div class="row">
            <div class="col-25">
                <label for="expired_in">Expired in</label>
            </div>
            <div class="col-75">
                <select id="expired_in" name="expired_in">
                    <option value="none">Input below</option>
                    <option value="1">In 1 days</option>
                    <option value="3">In 3 days</option>
                    <option value="5">In 5 days</option>
                    <option value="30">In 30 days</option>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="col-25">
                <label for="customed_expired_in"></label>
            </div>
            <div class="col-75">
                <input type="text" id="customed_expired_in" name="customed_expired_in" placeholder="Customed Input">
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-25">
                <label for="allowed_download_times">Maximum download times</label>
            </div>
            <div class="col-75">
                <select id="allowed_download_times" name="allowed_download_times">
                    <option value="none">Input below</option>
                    <option value="1">1 times</option>
                    <option value="3">3 times</option>
                    <option value="5">5 times</option>
                    <option value="30">30 times</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="customed_expired_in"></label>
            </div>
            <div class="col-75">
                <input type="text" id="customed_expired_in" name="customed_expired_in" placeholder="Customed Input">
            </div>
        </div>


        {#
        <div class="row">
            <div class="col-25">
                <label for="subject">Subject</label>
            </div>
            <div class="col-75">
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            </div>
        </div>
        #}
        <div class="row submit_row">
            <input type="submit" value="Submit">
        </div>
        
    </form>
</div>
<img alt="Cloud loading" class="cloud_loading" src="{{ url_for('static', filename='images/cloud_load.gif') }}"
    file_name="中传放心传">
{% endblock %}